body {
  min-height: 2000px;
  background-color: #FFEBCD;
}

.jumbotron {
  padding-top: 5rem;
  background: #c0c0c0;
}

#projects {
  background: #c0c0c0;
}

footer {
  background-color:  #c0c0c0;
}
section {
  padding-top: 5rem;
}

.navbar {
  background-color: #c0c0c0;
}
